<div class="top-row ps-3 navbar navbar-dark">
    <div class="nav-item px-3 d-flex align-items-center">
        <a class="navbar-brand" href="">DoorSignGenerator</a>
        <NavLink class="nav-link" href="editablesign">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Editable Sign
        </NavLink>
    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}